<%= form_with model: @list do |form| %>
    <div class="between">
        <%= form.text_field :description, class:"text-box" %>
        <hr>
        <div class="between2">
            <%= form.label :completed, "Completed" %>
            <%= form.check_box :completed %>
        </div>
    </div>
    <%= form.submit %>

  <% end %>