<%= form_with model: [@list, @task] do |form| %> 
  <div> 
    Task Name
      <%= form.text_field :description, class:"text-box" %>
  </div>
  <hr>
  <div> 
    <p>
      <%= form.label :completed, "Completed" %>
      <%= form.check_box :completed %>
    </p>
  </div>
  <%= form.submit %>
<% end %>
