<h1>All Tasks for Todo <%= @todo.description %></h1>

<div>
  <%= link_to 'Add New Task', new_todo_task_path, class:"newList" %>
</div>
<table>
  <thead>
    <tr>
      <th style="margin-right:50px">Description</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="description"><%= task.description %></td>
        <td class="completed"><%= task.completed ? 'Yes' : 'No' %></td>
        <td class="actions">
          <%= link_to 'Show', todo_task_path(task.todo, task), class:"action" %>
          <%= link_to 'Edit', edit_todo_task_path(task.todo, task), class:"action" %>
          <%= link_to 'Delete', todo_task_path(task.todo, task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"action"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', todos_path, class:'action' %>