<%= form_with model: @todo do |form| %>
  <div> 
    <h3>Task Name:
      <%= form.text_field :description, class:"text-box" %></h3>
  </h3>
  <h3>
      <%= form.label :completed, "Completed" %>
      <%= form.check_box :completed, class:"custom-checkbox" %>
  </h3>
  <%= form.submit %>
<% end %>